export ServerAddress=localhost:1234
export CustomerDbHost=localhost
export CustomerDbPort=3306
export CustomerDbName=customer
export CustomerDbUser=root
export CustomerDbPassword=root
export RedisAddress=localhost:6379
export RedisPassword=
export CustomerGrpcAddr=localhost:50011
export OrderGrpcAddr=